<% content_for(:filtros) do %>
<div id="filters" class="accordion">
  <h3><a href="#">Filtros</a></h3>
  <div class="filters-content">

  <%= search_form_for @search, :builder => Formtastic::FormBuilder, class: "formtastic search" do |f| %>
     <%= f.inputs do %>
        <%= f.input :patente_cont, :label => "Patente" %>
        <%= f.input :marca_cont, :label => "Marca" %>
        <%= f.input :año_eq, :label => "Año" %>
     <% end %>
     <%= f.actions do %>
        <%= button_tag(:class => "button submit", 'data-disable-with' => "Buscando...", style: "float: center;") do
          content_tag(:i, "Buscar" , :class => "fa fa-check fa-lg")
        end %>
     <% end %>
  <% end %>
  </div>
</div>
<%end%>
