<%- model_class = Unidad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_tag(unidades_path, :method => "get", id: "search-form") do %>
    <div class="row">
        <div class="col-lg-6">
        <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: "Ingrese parte de la patente", :class => "form-control" %>
            <span class="input-group-btn">
                <%= submit_tag "Buscar", :class => "btn btn-secondary" %>
            </span>
        </div>
        </div>
    </div>
    </br>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:patente) %></th>
      <th><%= model_class.human_attribute_name(:marca) %></th>
      <th><%= model_class.human_attribute_name(:año) %></th>
      <th><%= model_class.human_attribute_name(:fueraDeServicio) %></th>
      <th><%= model_class.human_attribute_name(:taller_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @unidades.each do |unidad| %>
      <tr>
        <td><%= unidad.patente %></td>
        <td><%= unidad.marca %></td>
        <td><%= unidad.año %></td>
        <td><%= unidad.fueraDeServicio %></td>
        <td><%= Taller.find(unidad.taller_id).nombre %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      unidad, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_unidad_path(unidad), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      unidad_path(unidad),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_unidad_path,
            :class => 'btn btn-primary' %>
