<%- model_class = Unidad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:patente) %></th>
      <th><%= model_class.human_attribute_name(:marca) %></th>
      <th><%= model_class.human_attribute_name(:año) %></th>
      <th><%= model_class.human_attribute_name(:fueraDeServicio) %></th>
      <th><%= model_class.human_attribute_name(:taller_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @unidades.each do |unidad| %>
      <tr>
        <td><%= link_to unidad.id, unidad_path(unidad) %></td>
        <td><%= unidad.patente %></td>
        <td><%= unidad.marca %></td>
        <td><%= unidad.año %></td>
        <td><%= unidad.fueraDeServicio %></td>
        <td><%= unidad.taller_id %></td>
        <td><%=l unidad.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_unidad_path(unidad), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      unidad_path(unidad),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_unidad_path,
            :class => 'btn btn-primary' %>
