<%- model_class = Unidad -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:patente) %>:</strong></dt>
  <dd><%= @unidad.patente %></dd>
  <dt><strong><%= model_class.human_attribute_name(:marca) %>:</strong></dt>
  <dd><%= @unidad.marca %></dd>
  <dt><strong><%= model_class.human_attribute_name(:año) %>:</strong></dt>
  <dd><%= @unidad.año %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fueraDeServicio) %>:</strong></dt>
  <dd><%= @unidad.fueraDeServicio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taller_id) %>:</strong></dt>
  <dd><%= Taller.find(@unidad.taller_id).nombre %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              unidades_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_unidad_path(@unidad), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              unidad_path(@unidad),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
