<p id="notice"><%= notice %></p>

<p>
  <strong>Numeroserie:</strong>
  <%= @nota_reparacion.numeroserie %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @nota_reparacion.fecha %>
</p>

<%= link_to 'Edit', edit_nota_reparacion_path(@nota_reparacion) %> |
<%= link_to 'Back', notas_reparaciones_path %>
