<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @chofer_unidad.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @chofer_unidad.belongs_to %>
</p>

<%= link_to 'Edit', edit_chofer_unidad_path(@chofer_unidad) %> |
<%= link_to 'Back', choferes_unidad_path %>
