<%= form_for(@unidad_chofer) do |f| %>
  <% if @unidad_chofer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unidad_chofer.errors.count, "error") %> prohibited this unidad_chofer from being saved:</h2>

      <ul>
      <% @unidad_chofer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :belongs_to %><br>
    <%= f.text_field :belongs_to %>
  </div>
  <div class="field">
    <%= f.label :belongs_to %><br>
    <%= f.text_field :belongs_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
