<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @unidad_chofer.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @unidad_chofer.belongs_to %>
</p>

<%= link_to 'Edit', edit_unidad_chofer_path(@unidad_chofer) %> |
<%= link_to 'Back', unidades_chofer_path %>
