<%= semantic_form_for(@taller,url: update_taller_path, method: :put) do |f| %>

<%= render 'shared/error_handler', :obj_errors => @taller.errors %>

  <%#= render('shared/common_form_buttons') %>
  <hr class='clear'/>

  <%= f.inputs(:class => :column_left ) do %>
    <%= f.input :nombre %>
    <%#= render 'shared/addresses_manager' , :f => f %>
    <hr class="clear">

  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                setting_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
