<p id="notice"><%= notice %></p>

<h1>Listing Chofers</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Radio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chofers.each do |chofer| %>
      <tr>
        <td><%= chofer.nombre %></td>
        <td><%= chofer.apellido %></td>
        <td><%= chofer.radio %></td>
        <td><%= link_to 'Show', chofer %></td>
        <td><%= link_to 'Edit', edit_chofer_path(chofer) %></td>
        <td><%= link_to 'Destroy', chofer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chofer', new_chofer_path %>
