<% content_for(:breadcrumbs) do %>
    <%= breadcrumbs do |b|
      b.item 'Configuracion', root_path, :active => true
    end %>
<%end%>
<p>
  <%= render 'sidebar' %>
</p>
<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h4>Principal</h4>
    <ul class='navigation'>
      <li class="fa fa-map-marker fa-lg"><%= link_to(Taller.model_name.human, my_taller_path ) %></li><br />
      <li class="fa fa-map-marker fa-lg"><%= link_to(Usuario.model_name.human, usuarios_path ) %></li><br />
      <li class="fa fa-map-marker fa-lg"><%= link_to(Turno.model_name.human, turnos_path ) %></li><br />
    <zul>

  </div>
</div>
