<p id="notice"><%= notice %></p>

<h1>Listing Chofereses Unidades</h1>

<table>
  <thead>
    <tr>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chofereses_unidades.each do |choferes_unidades| %>
      <tr>
        <td><%= choferes_unidades.belongs_to %></td>
        <td><%= choferes_unidades.belongs_to %></td>
        <td><%= link_to 'Show', choferes_unidades %></td>
        <td><%= link_to 'Edit', edit_choferes_unidades_path(choferes_unidades) %></td>
        <td><%= link_to 'Destroy', choferes_unidades, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choferes unidades', new_choferes_unidades_path %>
