<%= semantic_form_for @chofer, :html => { :class => "form-horizontal chofer" } do |f| %>
  <%#= f.semantic_errors %>
  <%= render 'shared/error_handler', :obj_errors => @chofer.errors %>

  <%#= render('shared/common_form_buttons') %>

  <%= f.inputs(:class => :column_left ) do %>
    <%= f.input :nombre %>
    <%= f.input :radio%>
  <% end %>
  <%= f.inputs(:class => :column_right ) do %>
    <%= f.input :apellido %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                choferes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
