<div class="panel panel-default">
    <div style="min-height: 50px;" class="panel-heading">Turnos del Chofer
    </div>
    <div class="panel-content">
    <center>
        </br>
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:turno) %></th>
              <th><%= model_class.human_attribute_name(:unidad) %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @turnos.each do |tur| %>
              <tr>
                <td><%= tur.turno.try(:descripcion) %></td>
                <td><%=link_to tur.unidad.try(:patente), tur.unidad %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate(@turnos) %>
        </center>
    </div>
</div>
