<% content_for(:breadcrumbs) do %>
  <%= breadcrumbs do |breadcrumb| %>
    <% breadcrumb.item Chofer.model_name.human, choferes_path %>
  <% end %>
<% end %>
<% if can?(:create, Chofer) %>
  <%#= render 'sidebar_index' %>
  <%= render 'filtros' %>
<% end %>
<% if @choferes.any? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link @search, :nombre, model_class.human_attribute_name(:nombre) %></th>
      <th><%= sort_link @search, :apellido, model_class.human_attribute_name(:apellido) %></th>
      <th><%= sort_link @search, :radio, model_class.human_attribute_name(:radio) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @choferes.each do |chofer| %>
      <tr>
        <td><%= chofer.nombre %></td>
        <td><%= chofer.apellido %></td>
        <td><%= chofer.radio %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      chofer, :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_chofer_path(chofer), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      chofer_path(chofer),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="block" style="margin:20px;">
      <%= will_paginate @choferes %>
    </div>
<% end %>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_chofer_path,
            :class => 'btn btn-primary' %>
