<% content_for(:title, Chofer.model_name.human.titlecase) %>

<% content_for(:breadcrumbs) do %>
  <%= breadcrumbs do |b|
    b.item Chofer.model_name.human, choferes_path
    b.item @chofer.full_name, root_path, :active => true
  end %>
<%end%>
<table class="table">
    <thead>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr>
        <th><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></th>
        <td><%= @chofer.nombre %> </td>
        <th><strong><%= model_class.human_attribute_name(:apellido) %>:</strong></th>
        <td><%= @chofer.apellido %></td>
      </tr>
      <tr>
        <th><strong><%= model_class.human_attribute_name(:radio) %>:</strong></th>
        <td><%= @chofer.radio %></td>
        <th></th>
        <td></td>
      </tr>
</table>

<!--
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @chofer.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:apellido) %>:</strong></dt>
  <dd><%= @chofer.apellido %></dd>
  <dt><strong><%= model_class.human_attribute_name(:radio) %>:</strong></dt>
  <dd><%= @chofer.radio %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taller_id) %>:</strong></dt>
  <dd><%= @chofer.taller.nombre %></dd>
</dl>

-->
<%= render 'turnos', :obj_to_show => @chofer  %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              choferes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_chofer_path(@chofer), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              chofer_path(@chofer),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
