<p id="notice"><%= notice %></p>

<h1>Listing Notapedidos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notapedidos.each do |notapedido| %>
      <tr>
        <td><%= link_to 'Show', notapedido %></td>
        <td><%= link_to 'Edit', edit_notapedido_path(notapedido) %></td>
        <td><%= link_to 'Destroy', notapedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notapedido', new_notapedido_path %>
