<%= semantic_form_for [@usuario] do |f| %>

 <!-- <%#= f.semantic_errors %> -->
  <%= render 'shared/error_handler', :obj_errors => @usuario.errors %>

  <%= f.inputs do %>
    <hr class='clear' />

    <input type="hidden" name="Language" value="English">

    <%= f.input :nombre, as: :string %>
    <%= f.input :apellido, as: :string %>
    <%= f.input :email, as: :string %>
  <% end %>


<%#= render('shared/buttons_comprobante', :f => f) %>
<%#= render('shared/common_form_buttons') %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn btn-default' %>
    </div>
  </div>

<%= render('items_memberships', f: f) %>

<% end %>

