<p id="notice"><%= notice %></p>

<p>
  <strong>Numeroserie:</strong>
  <%= @nota_pedido.numeroserie %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @nota_pedido.fecha %>
</p>

<%= link_to 'Edit', edit_nota_pedido_path(@nota_pedido) %> |
<%= link_to 'Back', notas_pedidos_path %>
