
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="<%= I18n.locale %>" name="language"/>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <title>
      <%= ['MteUba', yield(:title)].compact.join(' :: ') %>
    </title>
    <%= stylesheet_link_tag    'application'  , media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= head if respond_to? :head %>
    <%= yield :head %>
  </head>
<body>


<%= favicon_link_tag %>
    <input id="rails_root" type="hidden" value="<%= root_url %>"></input>
    <header>
      <div class="header">
        <div class="company">
          <h2>
            <a href="<%= root_path %>">
              <%= raw "#{current_taller.nombre}" unless current_taller.blank? %>
            </a>
          </h2>
        </div>
        <div class="status">
          <%= content_for?(:status_menu) ? yield(:status_menu) : render('shared/status_menu') %>
        </div>
      </div>
      <nav>
      <a class="navbar-brand" href="#">MTE-UBA</a>
        <%= content_for?(:user_navigation) ? yield(:user_navigation) : render('shared/user_navigation') %>
        <%= render('shared/main_navigation') %>
      </nav>
    </header>

    <section>
      <div class="wat-cf" id="wrapper">
        <div id="main">
          <div id="messages_holder">
            <div class="flash">
              <% flash.each do |type, message| %>
                <div class="<%= type.to_s %> message">
                  <% if message.is_a? Array %>
                    <% message.each do |m| %>
                      <p>
                        <%= m %>
                      </p>
                    <% end %>
                  <% else %>
                    <p>
                      <%= message %>
                    </p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
          <div class="block">
            <div class="content">
              <%= yield(:breadcrumbs) if content_for?(:breadcrumbs) %>
              <%= yield(:controls) if content_for?(:controls) %>
              <div class="inner">
                <%= yield(:filtros) if content_for?(:filtros) %>
                <%= yield %>
              </div>
              <div class="info">
                <%= yield(:info) if content_for?(:info) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <aside>
      <%= yield(:sidebar) if content_for?(:sidebar) %>
    </aside>
    <footer>
      <%= yield(:footer) if content_for?(:footer) %>
    </footer>
  </body>
</body>
</html>


